* {
    -moz-box-sizing: border-box;
    /*Firefox3.5+*/
    -webkit-box-sizing: border-box;
    /*Safari3.2+*/
    -o-box-sizing: border-box;
    /*Opera9.6*/
    -ms-box-sizing: border-box;
    /*IE8*/
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif !important;
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    -webkit-text-size-adjust: none;
}

*:not(input, textarea) {
    -webkit-user-select: none;
    -webkit-touch-callout: none
}

.mainFooter{
    background-color: #fff;
    z-index: 999;
}